<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>AddPerson</title>
  <link rel="stylesheet" href="css/style.css">
</head>

<body>
  <div class="container">
    <div class="inside">
      <h1 class="header">LOVEfinder:</h1>
      <h1>Add New User</h1>

      <form action="addperson">
        First Name: <input type="text" name="firstName" id="firstName" placeholder="First Name" class="form-input"> <br>

        Last Name: <input type="text" name="lastName" id="lastName" placeholder="Last Name" class="form-input"><br>

        Looking For: <input class="form-input radio-btn" type="radio" name="lookingFor" id="lookingFor" value="male">
        Male
        <input class="form-input radio-btn" type="radio" name="lookingFor" id="lookingFor" value="female"> Female <br>

        Picture URL: <input type="text" name="pictureUrl" id="pictureUrl" placeholder="Picture URL"
          class="form-input"><br>
        <input type="submit" value="Submit" class="btn-light">
      </form>
    </div>
  </div>

</body>

</html>