<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>LOVEfinder | Find Your True Love</title>
	<link rel="stylesheet" href="css/style.css">
	<script src="https://kit.fontawesome.com/cff99a00c0.js" crossorigin="anonymous"></script>
</head>

<body>
	<div class="container">
		<div class="flex-rewind">
			<div class="inside">
				<h1 class="header"><i class="fas fa-heartbeat"></i> LOVEfinder <i class="fas fa-heartbeat"></i></h1>
				<div class="img-relative">
					<img id="img-main" src="https://source.unsplash.com/collection/1606521/400x400" alt="">
					<div>
						<i class="far fa-heart heart-icon fa-2x"></i>
					</div>
					<h1>Something went wrong!</h1>
					<a class="btn-light" style="width: 100%; color: black" href="/">Home Page</a>
				</div>
			</div>
		</div>
	</div>
</body>

</html>